extends layout

block content
  h1= title
  p Welcome to #{title}

  form(name="add-estimation", method="get", action="/estimate")
    div.input
      span.label NavCoin Staking Address&nbsp;
      input(type="text", name="address" placeholder="NAV Address")
      p
    div.actions
      input(type="submit", value="Get Estimate")
