doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/images/valence-platform.ico')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat%3A300%2C300i%2C400%2C400i%7CQuicksand%3A400%7CCrimson+Text%3A400%2C400i%7CJulius+Sans+One%3A400&amp;ver=3.0.4#038;subset=latin,latin-ext' type='text/css' media='all' data-x-google-fonts)
    meta(property='og:title' content='VALE Airdrop Calculator')
    meta(property='og:type' content='article')
    meta(property='og:image' content='https://valeairdrop.org/images/valence-airdrop.jpg')
  body
    block content
