extends layout

block content
  .header
    .header-content
      image(src='/images/valence-logo.png')
      h2.montserrat.byline BUSINESS ON THE BLOCKCHAIN
      h3.crimson WE COULDN'T FIND THAT ADDRESS

      p The staking address you entered either doesn't exist, or it hasn't mined any blocks since the start of the airdrop period. If you want to check another address, enter it below.
      form(name="add-estimation", method="get", action="/estimate")
        .input.montserrat
          input(type="text", name="address" placeholder="NAV Address")
        .actions.montserrat
          input(type="submit", value="Get Estimate")

  .body
    .body-content
      p Please note that this caluclator is an estimate only. As more or less NAV participate in mining over the course of the airdrop mining period, your estimated airdrop will fluctuate proportionally.
      p For further information about the Valence Platform and the full details, terms and conditions of the airdrop please visit the #[a(href='https://valenceplatform.org' target='e') Valence Platform] website.
